.app-component {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-component .search-box {
  margin: 10px;
  padding: 0 10px 10px 10px;
  background-color: rgba(128, 128, 128, 0.3);
}
.app-component .search-box .search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-component .search-box .search > :not(:last-child) {
  margin-right: 10px;
}
.app-component .map {
  margin: 10px;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.3);
  flex-grow: 1;
}
